<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,user-scalable=0">
    <title>鸿宝财富</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/weui/1.1.1/style/weui.min.css">
    <link rel="stylesheet" href="${ctxPath}/static/lfgj/weui2.css">
    <link rel="stylesheet" href="${ctxPath}/static/style/css/pay.css">
    <script src="${ctxPath}/static/jquery/jquery-1.8.3.js" type="text/javascript"></script>
    <script src="${ctxPath}/static/layer/layer.js"></script>

    <script type="text/javascript">
        $(function() {
            var code = "${code}";
            if (code == "0") {
            } else if (code == "1") {
                layer.msg("${msg}",{
                    shift : 6
                });
            }
        })
    </script>
</head>

<body>
<form name="payForm" action="${ctxPath}/payment/toPay" method="post">
    <input type="hidden" name="person_id" value="${person.crypt_id!}"/>
    <input type="hidden" name="payChannel" id="payChannel" value="1"/>
    <input type="hidden" name="payModel" id="payModel" value=""/>
    <input type="hidden" name="payCode" id="payCode" value=""/>
    <div class="page" style="padding-left:30%;padding-right:30%;">
        <header class='demos-header'>
            <h1 class="demos-title"></h1>
            <p class='demos-sub-title'>鸿宝-${person.real_name!}</p>
        </header>
        <div class="weui-cells bd">
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">帐号:</label>
                </div>
                <div class="weui-cell__bd">
                    ${person.mobile}
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">余额:</label>
                </div>
                <div class="weui-cell__bd">
                    ${person.amount}
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">金额(￥)</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="number" id="money1" name="total_fee"
                           name="total_fee" placeholder="请输入金额" />
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">备注</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" id="remark" name="remark"
                           placeholder="请输入备注" />
                </div>
            </div>
        </div>
        <div class="weui-cells__title">支付方式</div>
        <div class="weui-cells weui-cells_radio">

            <label class="weui-cell weui-check__label" for="payWay1">

                <div class="weui-cell__bd">
                    <img src="${ctxPath}/static/style/images/shanpay.png" alt=""
                         style="width: 30px; margin-right: 5px; vertical-align: middle;">通道一
                </div>
                <div class="weui-cell__ft">
                    <input type="radio" name="payWay" class="weui-check" id="payWay1" value="1" />
                    <span class="weui-icon-checked"></span>
                </div>
            </label>

            <label class="weui-cell weui-check__label" for="payWay2">

                <div class="weui-cell__bd">
                    <img src="${ctxPath}/static/style/images/shanpay.png" alt=""
                         style="width: 30px; margin-right: 5px; vertical-align: middle;">通道二
                </div>
                <div class="weui-cell__ft">
                    <input type="radio" name="payWay" class="weui-check" id="payWay2" value="2" />
                    <span class="weui-icon-checked"></span>
                </div>
            </label>


            <label class="weui-cell weui-check__label" for="payWay3">

                <div class="weui-cell__bd">
                    <img src="${ctxPath}/static/style/images/shanpay.png" alt=""
                         style="width: 30px; margin-right: 5px; vertical-align: middle;">通道三
                </div>
                <div class="weui-cell__ft">
                    <input type="radio" name="payWay" class="weui-check" id="payWay3" value="3" />
                    <span class="weui-icon-checked"></span>
                </div>
            </label>

            <label class="weui-cell weui-check__label" for="payWay4">

                <div class="weui-cell__bd">
                    <img src="${ctxPath}/static/style/images/shanpay.png" alt=""
                         style="width: 30px; margin-right: 5px; vertical-align: middle;">通道四
                </div>
                <div class="weui-cell__ft">
                    <input type="radio" name="payWay" class="weui-check" id="payWay4" value="4" />
                    <span class="weui-icon-checked"></span>
                </div>

            </label>



            <label class="weui-cell weui-check__label" for="payWay5">

                <div class="weui-cell__bd">
                    <img src="${ctxPath}/static/style/images/shanpay.png" alt=""
                         style="width: 30px; margin-right: 5px; vertical-align: middle;">通道五
                </div>
                <div class="weui-cell__ft">
                    <input type="radio" name="payWay" class="weui-check" id="payWay5" value="5" />
                    <span class="weui-icon-checked"></span>
                </div>
            </label>


        </div>
        <div class="bd">
            <div class="weui-btn-area">
                <button onClick="return toPay()" class="weui-btn weui-btn_primary">确定支付</button>
            </div>
        </div>
    </div>
</form>
</body>

<script type="text/javascript">


    $(function(){

    });

    function toPay(){
        var payWay = $("input[name='payWay']:checked").val();
        $("#payChannel").val(payWay);
        var total_fee = $.trim($("#money1").val());
        if(total_fee == ""){
            layer.msg("金额不能为空",{
                shift : 6
            });
            return false;
        }else{
            document.forms['payForm'].submit();
        };

    };


</script>
</html>