<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>支付提示</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<!--标准mui.css-->
		<link rel="stylesheet" href="${ctxPath}/static/lfgj/mui/mui.min.css">
		<!--App自定义的css-->
		<link rel="stylesheet" type="text/css" href="${ctxPath}/static/lfgj/mui/app.css"/>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">账户充值</h1>
		</header>
		<div class="mui-content" style="padding-top:44px;">
			<div class="money-add-top">
            	<div class="money-add-top-box">
                	<div class="money-add-top-info">支付完成！</div>
                 </div>
            </div>
		</div>
		<div class="mui-content-padded" style="margin:40px 10px;">
            <button type="button" onclick="mui.back()" class="mui-btn mui-btn-primary mui-btn-block">返回</button>
        </div>
	</body>
	<script src="${ctxPath}/static/lfgj/mui/mui.min.js"></script>

    <script>
	    mui.init({
	    });
    </script>
</html>